[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Shivam Khattar
	email = 56852615+iamkhattar@users.noreply.github.com
[core]
	autocrlf = input
